<div class="main_left">
	<h2>ｵﾌﾄﾞｩｰﾝ</h2>
	<ul>
	<% @events.each do |event| %>
		<li class="event_list">
		<%= event.title %>	
		</li>	
	<% end %>	
	</ul>
</div>
	
<div class="main_right">
	<h2>右側メニュー</h2>
	<%= %>
</div>

