<div class="main_left">
	<div>
		<br>ｵﾌﾄﾞｩｰﾝ
	</div>
	<ul>
	<% @events.each do |event| %>
		<li class="event_list">
		<%= event.title %>	
		</li>	
	<% end %>	
	</ul>
</div>
	
<div class="main_right">
	<%= link_to "ログイン", '/auth/mastodon', class: 'btn btn-default' %>
	<% if @user %>
		<p><%= @user.display_name %></p>
	<% end %>
</div>

