/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{
	height: 100%;
}
body{
/*	background-image: url(p_da0632_l_da06320.png); */
	background-color: rgb(25,27,34);
	height: 100%;
	color: white;
	font-size: 14px;
}

h1{
	border-bottom: 4px solid rgb(25,27,34);
	margin: 10px;
}

h2{
}

a:link {
	color: rgb(217,225,232);
}
a:visited {
	color: rgb(217,225,232);
}
a:hover {
	color: rgb(217,225,232);
}
a:active {
	color: rgb(217,225,232);
}

div {
	word-break: break-all;
}

.logo {
	width:300px;
	height:100px;
	margin: 10px 0px 0px 0px;
}

.logo_title{
	font-size:18px;
	font-family: 'メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3', sans-serif; 
	position: absolute;
	bottom: 0;	
	right: 0;
	margin-right:20px;
	margin-bottom:30px;
	color: white;
	text-align:right;
}
.version_info {
	width:300px;
	text-align:right;
	font-size:14px;
	font-weight:400;
	padding:10px;
}
div.header{
	padding: 10px;
	border-radius: 20px;
	position:relative;
}

div.base{
	background-color: rgba(40,44,55,0.95);
	border-radius: 20px;
	margin: 10px auto;
	width:800px;
	min-height:100%;
	overflow: hidden;
}

div.body{
	padding: 10px 20px;
	min-height:100%;
	overflow: hidden;
}

div.main_left{
	float:left;
	width:500px;
	background-color: rgba(68,75,93,0.95);
	min-height:600px;
	padding-bottom : 32767px;
	margin-bottom : -32767px;
	
}

div.main_left > div{
	padding:10px;
}

div.main_right{
	float:right;
	width:250px;
	background-color: rgba(68,75,93,0.95);
	min-height:600px;
	padding-bottom : 32767px;
	margin-bottom : -32767px;
}

div.right_box {
	margin:10px;
}

div.footer{
	margin-top:40px;
	width:100%;
}
div.footer p{
	font-size:12px;
	text-align: center;
}

div.content_body {
	padding:10px;
}

.icon_img {
	width:50px;
	height:50px;
	border-radius: 10px;
	vertical-align:middle;
}

.link_button{
	width:230px;
	height:50px;
}

.link_img{
	width:230px;
	height:50px;
    background-color:rgb(255,255,255);
    display:block;
	border-radius: 11px;
}

.link_img:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

.logout{
}

.input_text {
	width:470px;
	padding:1px;
	margin-bottom:20px;
}

.input_text_area {
	width:470px;
	height:10em;
	padding:1px;
	margin-bottom:20px;
	resize: none;
}

.input_number {
	width:50px;
	padding:1px;
	margin-bottom:20px;
}

.date_time {
	padding:1px;
	margin-bottom:20px;
}

.input_radio{
	padding:1px;
	margin-bottom:20px;
	
}
.radio_text {
	display: inline;
}

.submit_button {
	margin-top:20px;
	padding:1px;
	width:120px;
	height:30px;
	background-color:rgb(37,136,208);
	color:rgb(255,255,255);
	border:none;
	border-radius: 6px;
}

.submit_button:hover {
	background-color:rgb(81,160,217);
	cursor : pointer;
}

.field_with_errors {
	display: inline;
}

.err_msg {
	color:rgb(255,128,128);
}

.event_link {
	text-decoration: none;
}

.event_list {
	overflow: hidden;
	padding: 10px;
	border-bottom: solid 1px rgb(40,44,55);
}

.event_list:hover {
	background-color:rgb(80,88,110);
}
.event_icon {
	float: left;
	padding: 10px 0px;
}
.event_detail {
	margin-left:70px;
}
.event_title {
	font-size:16px;
	font-weight:700;
}
.event_icon_img {
}

.detail_title {
	font-size:24px;
	font-weight: 700;
}

.detail_header {
	overflow: hidden;
	padding:10px;
}

.detail_date {
}
.detail_user {
	float:left;
}
.detail_list {
	clear:both;
}

.detail_icon {
	float: left;
}

.detail_info {
	float:left;
	padding-left:10px;
}

.table_row {
	display:table;
	width:480px;
	margin-left:10px;
	border-collapse: collapse;
	table-layout: fixed;
	margin-top:-2px;
}
.detail_column_left {
	display:table-cell;
	width:40px;
	vertical-align:middle;
	border-top:solid 2px rgb(80,88,110);
	border-bottom:solid 2px rgb(80,88,110);
	padding:10px;
	background-color:rgb(80,88,110);
	table-layout: fixed;
}
.detail_column_right {
	display:table-cell;
	width:400px;
	border-top:solid 2px rgb(80,88,110);
	border-bottom:solid 2px rgb(80,88,110);
	padding:10px;
}

.row_title {
	width:460px;
	padding:10px;
	margin:10px 10px 0px 10px;
	background-color:rgb(80,88,110);
	border-right:solid 2px rgb(80,88,110);
}

.member_list_title {
	display:table;
	width:480px;
	margin-left:10px;
	border-collapse: collapse;
	table-layout: fixed;
	margin-top:-2px;
	border:solid 2px rgb(80,88,110);
}

.member_list_body {
	display:table;
	width:480px;
	margin-left:10px;
	border-collapse: collapse;
	table-layout: fixed;
	margin-top:-2px;
	border:solid 2px rgb(80,88,110);
}

.member_list_join {
	display:table-cell;
	width:120px;
	border-right:solid 2px rgb(80,88,110);
	padding:10px;
	table-layout: fixed;
	font-size:12px;
}

.member_list_go_astray {
	display:table-cell;
	width:120px;
	border-right:solid 2px rgb(80,88,110);
	padding:10px;
	table-layout: fixed;
	font-size:12px;
}

.member_list_no_join {
	display:table-cell;
	width:120px;
	border-right:solid 2px rgb(80,88,110);
	padding:10px;
	table-layout: fixed;
	font-size:12px;
}

.member_list {
	list-style-type: none;
	padding:0px;
	margin:0px;
}

.member_list_items {
	padding-top:6px;
}

.icon_img_small {
	width:20px;
	height:20px;
	border-radius: 10px;
	vertical-align:middle;
}

.comment_list_body {
	overflow: hidden;
	margin-left:10px;
	padding:10px;
	clear: both;
	width:460px;
	border-bottom:solid 2px rgb(80,88,110);
}

.comment_icon {
	float: left;
	padding: 10px 0px;
}

.comment_body {
	float:left;
	padding-left:10px;
	width:430px;
	
}

.comment{
	font-size:12px;
}

.comment_user {
	font-size:12px;
}

.comment_form {
	padding-left:10px;
	padding-top:20px;
}

.submit_comment {
	margin-top:0px;
	margin-bottom:20px;
}

.delete_link {
	margin-left:10px;
	font-size:10px;
}

.join_form {
	display:table;
	width:480px;
	margin-left:10px;
	border-collapse: collapse;
	table-layout: fixed;
	margin-top:-2px;
	border:solid 2px rgb(80,88,110);
}

.join_area {
	display:table-cell;
	width:130px;
	border-right:solid 2px rgb(80,88,110);
	padding:10px;
	table-layout: fixed;
	font-size:12px;
	vertical-align:middle;
	text-align:center;
}

.join_button {
	width:120px;
	height:50px;
	text-decoration: none;
	padding:10px 6px 6px 6px;
	margin: auto;
	border-radius: 10px;
	font-size:18px;
	font-weight: 500;
}

.join {
	background-color:rgb(37,136,208);
}

.go_astray {
	background-color:rgb(200,130,30);
}

.no_join {
	background-color:rgb(200, 30,100);
}

.go_astray:hover {
	background-color:rgb(217, 160, 81);
	cursor : pointer;
}
.no_join:hover {
	background-color:rgb(217,81,160);
	cursor : pointer;
}

.link{
	text-decoration: none;
}

.edit_area {
	margin:20px 10px;
}
.edit_button {
	margin-top:0px;
	margin-right:10px;
	height:24px;
	display:inline-block;
	text-decoration: none;
	text-align:center;
	padding-top:6px;
}

.my_event_list {
	margin:0px 8px 0px 10px;
	
}

.pagination {
	margin:10px;
	padding:0px;
	display:table;
	table-layout:fixed;
	border:solid 2px rgb(80,88,110);
	border-radius: 10px;
}

.pagination li {
	display:table-cell;
	table-layout:fixed;
	padding:5px;
}

.pagination li:nth-child(even){
	background-color: rgb(80,88,110);
}

.pagination li.page {
	padding: 5px 10px;
}

.pagination li.active {
	font-weight:700;
	color:rgb(37,136,208);
}

.pagination li a {
	text-decoration: none;
}

.pagination li.active a {
	font-weight:700;
	color:rgb(37,136,208);
}


.affi {
	margin: 40px 10px;
}
